<!DOCTYPE html>
<html>
    <head>
        <title>YeySON - Pages</title>
        {% include "css/pages-css.html" %}
        {% include "javascript/markdown-parser.html" %}
        <script>
            const markdownParser = () => {
                text = document.getElementById('area-1').value;
                html = parse(text);
                document.getElementById('preview-body').innerHTML = html;
                return html;
            }
            const setValue = () => {
                document.getElementById('area-1').value = markdownParser();
            }
            const toHTML = () => {
                document.getElementById('preview-header').innerHTML = document.getElementById('fname-5').value;
            }
        </script>
    </head>
    <body>
        {% include "components/header.html" %}

        <div class="Editor">
            <div class="Post-Editor">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" class="Post-Editor-Titlefield" placeholder="Page Title" id="fname-5" name="fname-5" onkeyup="toHTML()">
                    <textarea id="area-1" class="Post-Editor-Editorfield" placeholder="Page content..." name="area-1" rows="25" cols="50" onkeyup="markdownParser()"></textarea>
                    <input type="submit" class="Post-Editor-Button" value="Create Page" onclick="setValue()"/>
                </form>
            </div>
            {% include "components/preview.html" %}
        </div>

        <div class="Section">
            <h2>Latest Created Pages</h2>
            {% for o in pages %}
                <hr/>
                <div>
                    <h3>{{o.title}}</h3>
                    <i>{{o.path}}</i>
                    <p>{{o.content}}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>