<!DOCTYPE html>
<html>
    <head>
        <title>YeySON - Posts</title>
        {% include "css/posts-css.html" %}
        {% include "javascript/markdown-parser.html" %}
        <script>
            const markdownParser = () => {
                text = document.getElementById('area-2').value;
                html = parse(text);
                document.getElementById('preview-body').innerHTML = html;
                return html;
            }
            const setValue = () => {
                document.getElementById('area-2').value = markdownParser();
            }
            const toHTML = () => {
                document.getElementById('preview-header').innerHTML = document.getElementById('fname-7').value;
            }
        </script>
    </head>
    <body>
        {% include "components/header.html" %}

        <div class="Editor">
            <div class="Post-Editor">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" class="Post-Editor-Titlefield" placeholder="Post Title" id="fname-7" name="fname-7" onkeyup="toHTML()">
                    <input type="date" class="Post-Editor-Date" id="date" name="post-date" value="2022-10-10" min="2022-10-10" max="2023-10-10">
                    <textarea id="area-2" class="Post-Editor-Editorfield" placeholder="Post content..." name="area-2" rows="25" cols="50" onkeyup="markdownParser()"></textarea>
                    <input type="submit" class="Post-Editor-Button" value="Publish" onclick="setValue()"/>
                </form>
            </div>
            {% include "components/preview.html" %}
        </div>

        <div class="Section">
            <h2>Latest Published Posts</h2>
            {% for o in posts %}
                <hr/>
                <div>
                    <h3>{{o.title}}</h3>
                    <i>{{o.date}}</i>
                    <p>{{o.content}}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>